# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Ignore Python bytecode files
*.pyc
__pycache__/
# Ignore specific directories and their contents
accounting_pdf_reports/
base_account_budget/

# Add any other directories or files you want to ignore
# For example:
# other_directory/
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# other apps
odb_stock_quantity_history_location/
hr_leave_request_aliasing/
odb_report_stock/
stock_picking_back2draft/
todo_list/
odb_account_budget/
odb_quick_search_tree_view/
odb_stock_management/
hr_multi_company/
om_account_bank_statement_import/
odb_account_journal_restrictions/
ohrms_core/
odb_account_reports_pdf/
om_fiscal_year/
odb_delivery_status_po/
hr_resignation/
magic_note/
odb_account_dynamic_report/
odb_farm_management/
odb_stock_lot_management/
odb_order_payment_cancel/
odb_account_fiscal_year/
odb_product_price_tax/
odb_stock_move_quick_lot/
odb_web_list_sequence/
hr_reminder/
odb_order_stock_cancel/
document_management_system/
odoo_dynamic_dashboard/
odb_order_purchase_cancel/
odb_stock_picking_filter_lot/
web_widget_open_tab/
sh_base_document/
oh_employee_creation_from_user/
web_listview_sticky_header_column/
perfect_notes/
om_account_accountant/
odb_order_sale_cancel/
odb_account_followup/
om_account_followup/
web_chatter_position/
muk_web_theme/
base_account_budget/
stock_quantity_history_location/
hr_payroll_account_community/
odb_sale_management/
ohrms_loan_accounting/
hr_employee_updation/
odb_document_management/
base_accounting_kit/
odb_hr_break_time/
odb_delivery_status_so/
queue_job/
odb_account_analytic_report/
odb_stock_lot_quality_sale/
odb_account_credit_limit/
odb_stock_picking_backdate/
legion_enterprise_theme/
hr_reward_warning/
ohrms_loan/
odb_account_daily_reports/
dynamic_accounts_report/
hr_payroll_community/
odb_purchase_management/
om_account_daily_reports/
odb_reports_base/
odb_web_xview_document/
stock_picking_backdate_all/
odb_payment_deposit_sale/
hr_employee_transfer/
odb_farm_stock_lot_sn/
odb_menu_items/
web_listview_sticky_header/
odb_base/
queue_job_cron/
sticky_pivot_view/
odb_order_invoice_cancel/
odb_restrictions_menu/
om_account_asset/
oh_employee_documents_expiry/
odb_account_accountant/
odb_bank_payment/
stock_account_quantity_history_location/
om_recurring_payments/
odb_account_statement_import/
