<?xml version="1.0" encoding="utf-8"?>
<odoo>    
    <menuitem
        id="caosu_menu"
        name="Cao su"
        web_icon="caosu,static/description/icon.png"
        sequence="0"/>
    <menuitem
        id="phancay_menu"
        name="Phần cây"
        parent="caosu_menu"
        sequence="0"/>
    <menuitem
        id="nhapphancay_menu"
        name="Nhập phần cây"
        action="action_nhapphancay"
        parent="phancay_menu"
        sequence="0"/>
    <menuitem
        id="nhaphangcay_menu"
        name="Nhập hàng cây"
        action="action_nhaphangcay"
        parent="phancay_menu"
        sequence="1"/>
    
    <menuitem
        id="thinghiem_menu"
        name="Thí nghiệm"
        parent="caosu_menu"
        sequence="1"/>
    <menuitem
        id="nhapphancaytn_menu"
        name="Nhập cây thí nghiệm"
        action="action_nhapphancaytn"
        parent="thinghiem_menu"
        sequence="0"/>
    <menuitem
        id="nhapsanluongtn_menu"
        name="Nhập mũ thí nghiệm"
        action="action_nhapsanluongtn"
        parent="thinghiem_menu"
        sequence="1"/>    
    <menuitem
        id="sanluongtn_menu"
        name="Mũ thí nghiệm"
        action="action_sanluongtn"
        parent="thinghiem_menu"
        sequence="2"/>
    
    <menuitem
        id="sanluong_menu"
        name="Sản lượng"
        parent="caosu_menu"
        sequence="2"/>    
    <menuitem
        id="nhapsanluong_menu"
        name="Nhập sản lượng"
        action="action_nhapsanluong"
        parent="sanluong_menu"
        sequence="0"/>
    <menuitem
        id="sanluongcn_menu"
        name="Sản lượng CN"
        action="action_sanluongcn"
        parent="sanluong_menu"
        sequence="1"/>
    <menuitem 
        id="menu_do_mu" 
        name="Độ mủ" 
        parent="sanluong_menu" 
        action="action_do_mu"
        sequence="2"/>
    
    <menuitem
        id="banmu_menu"
        name="Bán mũ"
        parent="caosu_menu"
        sequence="3"/>
    <menuitem
        id="nhanvaban_menu"
        name="Nhận và bán"
        action="action_nhanvaban"
        parent="banmu_menu"
        sequence="0"/>
    <menuitem 
        id="menu_tylehaohut_mu" 
        name="Tỷ lệ hao hụt mủ" 
        parent="banmu_menu" 
        action="action_tylehaohut_mu"
        sequence="1"/>
    <menuitem 
        id="menu_rubber_price"
        name="Lịch Sử Giá Mủ"
        parent="banmu_menu"
        action="action_rubber_price"
        sequence="3"/>
    <menuitem 
        id="menu_rubber_price_wizard"
        name="Cập nhật giá mủ"
        parent="banmu_menu"
        action="action_rubber_price_wizard"
        sequence="2"/>
    

    <menuitem
        id="luong_menu"
        name="Lương"
        parent="caosu_menu"
        sequence="4"/>
    <menuitem id="luongCN" parent="luong_menu" name="Lương CN" sequence="0">
      <menuitem
        id="phucapthang_menu"
        name="Phụ cấp tháng"
        action="action_phucapthang"
        sequence="0"/>
      <menuitem
        id="phucap_menu"
        name="Phụ cấp"
        action="action_phucap"
        sequence="1"/>    
      <menuitem
        id="phieuluong_menu"
        name="Phiếu lương"
        action="action_phieuluong"
        sequence="2"/>
      <menuitem
        id="bangluong_menu"
        name="Bảng lương"
        action="action_bangluong"
        sequence="3"/>
    </menuitem>

    <menuitem id="luongbv" parent="luong_menu" name="Lương BV" sequence="1">
      <menuitem
        id="bangluongbv_menu"
        name="Bảng lương bảo vệ"
        action="action_bangluongvp"
        sequence="0"/>
      <menuitem
        id="luongbv_menu"
        name="Lương bảo vệ"
        action="action_luongvp"
        sequence="1"/>     
    </menuitem>

    <menuitem id="luongvp" parent="luong_menu" name="Lương văn phòng" sequence="2">
      <menuitem
        id="salaryofficerbymonth_menu"
        name="Bảng lương văn phòng"
        action="action_salaryofficerbymonth"
        sequence="0"/>
      <menuitem
        id="salaryofficer_menu"
        name="Lương văn phòng"
        action="action_salaryofficer"
        sequence="1"/>
    </menuitem>

    
    <menuitem id="menu_reward" name="Thưởng" parent="caosu_menu" sequence="6">
      <menuitem id="xetthuongthang_menu" name="Xét thưởng theo tháng" action="action_xetthuongthang" sequence="0"/>
      <menuitem id="xetthuong_menu" name="Xét thưởng" action="action_xetthuong" sequence="1"/>
      <menuitem id="phucloi_menu" name="Phúc lợi nhân viên" action="action_phucloi" sequence="2"/>      
      <menuitem id="menu_yield_target_department" name="Department Targets" sequence="3" action="action_yield_target_department"/>
      <menuitem id="menu_yield_target" name="Yield Targets" sequence="4" action="action_yield_target"/>
      <menuitem id="menu_yield_distribution" name="Yield Distribution" sequence="5" action="action_yield_distribution"/>
    </menuitem>
</odoo>